<p id="notice"><%= notice %></p>

<div class="post-index">
  <% @posts.each do |post| %>
    <h1><%= link_to post.title, post %></h1>


    <%= link_to post_upvote_path(post) do %>
      <i class="glyphicon glyphicon-heart btn btn-danger pull-right heart-button"></i>
    <% end %>


    <p><%= post.text %></p>
    <p><i>Posted on <%= post.pretty_created_at %></i></p>

    <p class='pull-right'><small><%= post.get_upvotes.size %> <%= post.singular_or_plural_hearts %></small></p>
  <% end %>
</div>

