<p id="notice"><%= notice %></p>

<h1><%= @post.title %></h1>

<%= link_to post_upvote_path(@post) do %>
  <i class="glyphicon glyphicon-heart btn btn-danger heart-button"></i>
<% end %>

<p><small><%= @post.heart_count %></small></p>

<br />

<div>
  <%= @post.text %>
</div>


<br />
<br />

<p>
<%= link_to "<< prev", @post.prev %>
<%= link_to "next >>", @post.next %>
</p>
