<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <%= link_to "<< prev", @post.prev %>
  <%= link_to "next >>", @post.next %>
</p>
